<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static',filename = 'css/CV.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Amit Kapon CV site</title>
</head>



<body>

<div class="wrapper">

  <header id="pageHeader"></header>
  <article id="mainArticle" style="font-size:20px; font-family: 'Ink Free'; color: khaki; text-align: center"> </article>
  <nav id="mainNav"> </nav>


<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <style>
      head1,head2{
        font-family: 'Tangerine', "Ink Free";
      }
    </style>
<p id='head1' class='header' style="font-size:100px; font-family: 'Ink Free'" ;> Hi... </p>
<p id='head2' class='header'style="font-size:100px; font-family: 'Ink Free'">My Name is Amit</p>
<p id='head3' class='header'style="font-size:100px; font-family: 'Ink Free'">This is my CV site</p>
<p id='head4' class='header'style="font-size:100px; font-family: 'Ink Free'; text-align: center">Look around and Contact me!</p>





   <button onclick="window.location.href='{{ url_for( 'cvPage') }}';"> Get Started </button>

  <div class='light x1'></div>
  <div class='light x2'></div>
  <div class='light x3'></div>
  <div class='light x4'></div>
  <div class='light x5'></div>
  <div class='light x6'></div>
  <div class='light x7'></div>
  <div class='light x9'></div>
  <div class='light x8'></div>

</body>



</html>